@import "tailwindcss";
body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-primary: #B88E2F;
  --color-secondary: #FCF8F3;
  --color-textBackground: #FFF3E3;
  --color-titleText: #333333;
  --color-subTitleText: #666666;
  --color-cardBackground: #F4F5F7;
  --color-cardMainText: #3A3A3A;
  --color-cardSubText: #898989;
  --color-cardDiscountText: #B0B0B0;
  --color-cardDiscountBackground: #E97171;
  --color-cardsPopupBackground: rgba(58, 58, 58, 0.8);
  --color-sliderBackground: #FCF8F3;
  --color-footerSubTexts: #9F9F9F;
  --color-shopBenefitsBackground: #FAF3EA;
  --color-filterSectionBackground: #F9F1E7;
}
@layer components  {
  .navBarContainer {
    padding: 1rem; display: flex; justify-content: space-between; align-items: center;
  }
  .navBarLinksContainer {
    display: flex; gap: 2rem; font-size: 18px;
  }
  .featuresContainer {
    display: flex; gap: 1.6rem;
  }
  .housePartsCard {
    width: 381px; height: 546px; border-radius: 8px; overflow: hidden;
  }
}
@media (prefers-color-scheme: dark) {
  
}
.heroBackground {
  background-image: url("../public/furniture-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.diningRoomBg {
  background-image: url("../public/dining-room.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.LivingRoomBg {
  background-image: url("../public/living-room.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.bedRoomBg {
  background-image: url("../public/bed-room.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.headerBackground {
  background-image: url("../public/header-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto auto;
}

